  <div class="row">
    <div class"cards">
      <div class="col-xs-12 col-sm-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      </div>
    </div>

     <div class"cards">
      <div class="col-xs-12 col-sm-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      </div>
    </div>

     <div class"cards">
      <div class="col-xs-12 col-sm-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      </div>
    </div>

  </div>

